body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#4da6ff;
}

.container{
    width:400px;
    margin:60px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,.3);
}

.search-box{
    display:flex;
    justify-content:center;
    gap:10px;
}

input{
    width:220px;
    padding:10px;
}

button{
    padding:10px 15px;
    cursor:pointer;
    background:#0077ff;
    color:white;
    border:none;
}

button:hover{
    background:#0056b3;
}

.weather-card{
    margin-top:20px;
    font-size:18px;
}

.error{
    color:red;
    font-weight:bold;
}